.cont {
  margin-top: 60px;
  margin-left: 60px;
  padding-right: 32px;
  padding-left: 32px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  max-width: 900px;
  margin-top: 50px;
}

.back {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  padding: 8px;
  background-color: #01023a;
  left: 12px;
  top: 72px;
  position: fixed;
  margin-bottom: 32px;
}

.img {
  width: 100%; /* Изображение растягивается на всю ширину контейнера */
  height: 100%; /* Изображение растягивается на всю высоту контейнера */
  object-fit: cover; /* Обрезает изображение, чтобы оно заполнило контейнер */
  object-position: center;
}

.imgCont {
  width: 200px;

  min-width: 200px;
  height: 300px;
  overflow: hidden;
}

.written {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
