.nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-left: 40px;
}

.header {
  box-shadow: 0 8px 20px rgba(223, 223, 223, 0.4);
  border-bottom: 1px solid white;
  width: 100%;
  padding: 16px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  background-color: #27293d;
}
