.nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-left: 40px;
}

.header {
  border-bottom: 2px solid white;
  width: 100%;
  padding: 16px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgb(19, 2, 41);
}
