:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

input {
  background-color: #ffffff;
  font-size: 16px;
}

body {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  text-align: center;
  min-width: 320px;
  padding: 32px;
  min-height: 100vh;
}

h1 {
  margin-top: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

:root {
  color: #000000;
  background-color: #1e1e2f;
}
a:hover {
  color: #c0392b;
}
button {
  background-color: #f1ecec;
}

ul {
  padding: 0;
  list-style: none;
}
