.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 44px;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  max-width: 900px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

.title::first-letter {
  color: #e74c3c;
}

.imgCont {
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.4);
  width: 120px;
  overflow: hidden;
  height: 190px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обрезает изображение, чтобы оно заполнило контейнер */
  object-position: center;
}

.elem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
